.content {
	background-color: $darkBlue;
	&__container {
		position: relative;
		background-color: $darkGrayishBlue;
		padding: 1.5625rem;
		margin-bottom: 6.25rem;
		border-radius: 10px;
		height: fit-content;
	}
	&__heading {
		margin: 1rem 0 1.5rem;
		text-align: center;
		color: $neonGreen;
		font-size: 0.75rem;
		text-transform: uppercase;
		letter-spacing: 0.25rem;
	}
	&__results {
		color: $lightCyan;
		font-size: $font-med;
		text-align: center;
		p {
			margin: 0.875rem 0;
		}
	}
	&__seperator {
		width: 100%;
		padding-bottom: 2.8rem;
		padding-top: 1.5rem;
		.horizontal {
			display: inline-block;
			width: 40%;
			height: 1px;
			background-color: $grayishBlue;
		}
		.verticalCont {
			width: 22px;
			margin: -9px 0 0;
		}
		.vertical {
			display: inline-block;
			border-radius: 25px;
			width: 6px;
			height: 18px;
			background-color: $lightCyan;
		}
	}
	&__btn {
		background-color: #52ffa8;
		border-radius: 100%;
		width: 75px;
		height: 75px;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
		button {
			border: none;
			background-color: transparent;
			div {
				padding: 5px 2px;
				border-radius: 5px;
				flex-wrap: wrap;
				width: 25px;
				height: 25px;
				background-color: $darkBlue;
				span {
					display: inline-block;
					border-radius: 100%;
					width: 3px;
					height: 3px;
					margin: 0 3px;
					background-color: $neonGreen;
				}
				.dot3 {
					margin: 0 5px;
				}
			}
		}
	}
}
